/* body */
.container-fluid{
    padding-top: 0%;
   
}
 body{
     font-family: "Montserrat";
 }
 h3{
     font-weight: 800;
 }
 h2{
     color: #fff;
     font-family: "Montserrat-black";
     font-weight: 800;
     line-height: 1.2;

 }
 p{
     color: #8f8f8f;
 }  


/* navbar style */
.navbar{
    background-color: #f1697e;
   padding: 0% 12% 0% 12%;
}
.navbar-brand{
    font-weight: bold;
    font-size: 1.5;
}
.nav-item{
    padding: 0 4px 0 8px;
}


/* title page  */
.Download_button{
    margin: 26px 15px 20% 0;
}
.headings{
    font-family: 'Montserrat-black', sans-serif;
    font-weight: 900;
    color: white;
    font-size: 3rem;
    line-height: 1.5;
}
#title{
    background-color: #ff4c68;
    padding: 3% 12% 0 12%;
}

.phone {
    position: absolute;
    right: 20%;
    width: 19%;
    height: 80%;
    transform: rotate(
23deg);
}

/* features */
#features{
    background-color: #fff;
    padding: 7% 13%;
    position: relative;
    z-index: 1;
}
.feacher_item{
    padding-right: 2rem;
    text-align: center;
}
.icon{
    color: #ef8176;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 16px;
    
}
.icon:hover{
    color: #ff4c68;
}

/* testimonial section */
#testimonials{
    background-color:#ef8176; 
    text-align: center;
    
}
.testimonial-text{
    font-size: 3rem;
    font-weight: 700;
    font-family: "Montserrat";
}
.testimonial-image{
    border-radius: 100%;
    margin: 5% 10% 0 10% ;
    width: 17%;
}
.carousel-item{
    padding: 3% 14%;
}

/* press section */
#press{
    background-color:#ef8176; 
    text-align: center;
    padding-top: 0;
    padding-bottom: 5%;
}
.press_img{
    width: 15%;
    padding: 0 1.5rem;
}


/* pricing Section */
#pricing{
    text-align: center;
    padding: 7% 14%;
}
.card-title{
    color: black;
    font-weight: 800;
}
.pricing-h2{
    padding-top: 2rem;
    font-size: 3rem;
    font-weight: 800;
    color: black;
    font-family: "Montserrat-bold";
}
.pricing-div{
    padding: 5% 6% 5% 2%;
}


/* footer section */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.foot_ico{
    margin: 1px 7px;
    height: 16px;
    width: 16px;
}
.foot_ico:hover{
   background-color: rgb(163, 163, 170);
   cursor: pointer;
}



/* call to action  */
#cta{
    background-color:#ff4c68 ;
    text-align: center;
    height: 300px;
}
.cta_head {
    color: #fff;
    text-align: center;
    /* font-size: larger; */
   padding-top: 7%;
    
    font-size: 3rem;
    font-weight: 900;
    font-family: "Montserrat";
}




@media  (max-width:983px) {
    .row{
        text-align: center;
        width: 100%;
        
    }
    .head{
        text-align: center;
        height: auto;
      
        margin: auto;
       
    }
    .phone{
        position:static;
        transform: rotate(0);
        height: 80%;
        width: 60%;
    }
    .col-md-6 {
        flex: 0 0 auto;
         width: 100%; 
    }
    
}


@media  (max-width:430px) and (min-width:340px) {
    #cta{
        background-color:#ff4c68 ;
        text-align: center;
        height: 400px;
    }
}
@media  (max-width:340px) {
    #cta{
        background-color:#ff4c68 ;
        text-align: center;
        height: 550px;
    }
    #title{
        background-color: #ff4c68;
        padding: 0;
    }
    .headings{
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        color: white;
        font-size: 2.3rem;
        line-height: 1.2;
    }
}